<footer id="footers">
  <div class="container-fluid" id="footerFirst">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul>
          <li><h5>Hosting & Servers</h5></li>
          <li><a href="">Web Hosting</a></li>
          <li><a href="">Canadian Cloud Servers</a></li>
          <li><a href="">Reseller Web Hosting</a></li>
          <li><a href="">Dedicated Servers</a></li>
          <li><a href="">Managed WordPress</a></li>
          <li><a href="">Anycast DNS</a></li>
          <li><a href="">Free Website Migration</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul>
          <li><h5>Domains & Websites</h5></li>
          <li><a href="">Domain Name Search</a></li>
          <li><a href="">Domain Name Transfer</a></li>
          <li><a href="">Weebly Site Builder</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul>
          <li><h5>Security & SSL</h5></li>
          <li><a href="">SSL Certificates</a></li>
          <li><a href="">SiteSafe Protection</a></li>
          <li><a href="">Enterprise Anti-Spam</a></li>
          <li><a href="">Domain Privacy Protection</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul>
          <li><h5>Online Marketing</h5></li>
          <li><a href="">Search Engine Optimization</a></li>
          <li><a href="">Email Marketing</a></li>
          <li><a href="">Affiliate Program</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul>
          <li><h5>Company</h5></li>
          <li><a href="">Blog & News</a></li>
          <li><a href="">About WHC</a></li>
          <li><a href="">WHC Reviews</a></li>
          <li><a href="">Green Web Hosting</a></li>
          <li><a href="">Contact us</a></li>
          <li><a href="">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul>
          <li><h5>Support</h5></li>
          <li><a href="">Help Center</a></li>
          <li><a href="">Open Support Ticket</a></li>
          <li><a href="">Check System Status</a></li>
        </ul>
      </div>
    </div>

    <div class="row" id="line"></div>
    <div class="row" id="phoneLocation">
      <div class="col-md-11" id="snsBox">
        <span id="followUs">Follow us</span>
        <img src="./img/facebook.png" id="snsIcon" />
        <img src="./img/twitter.png" id="snsIcon" />
        <img src="./img/instagram.png" id="snsIcon" />
        <img src="./img/youtube.png" id="snsIcon" />

        <div class="float-end">
          <div class="col-3">
            <img src="./img/call_white_24dp.svg" />
            <i>1 514 504-2113</i>
          </div>
          <div class="col-10">
            <img src="./img/location_on_white_24dp.svg" />
            <i>7250 Clark Street #301, Montreal, Quebec H2R 2Y3 Canada</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="footerBtm">
    <div class="row">
      <div class="col text-center" id="footerBtm2">
        &copy;2021Web Hosting Canada
        <img src="./img/main_img_files/green-badge-1.png" id="footerImg" />
        <a href="#" id="legal">Legal</a>
        |
        <a href="#" id="policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>