<main class="container-fluid" id="mainContainer">
  <div class="row" id="search-row">
    <div class="col"></div>
    <div class="col-10">
      <form class="d-flex">
        <input
          class="form-control mb-lg-auto"
          id="searchBar"
          type="search"
          placeholder="Find your perfect domain"
          aria-label="Search"/>
        <button
          class="btn btn-danger"
          id="searchBtn"
          type="submit"
        >Search</button>
      </form>
    </div>
    <div class="col"></div>
    <div class="row">
      <div class="col"></div>
      <div class="col-10" id="caComNet">
        <a href="">
          <img src="./img/main_img_files/tld-ca-color.svg" />
          <span>C$20.99</span>
        </a>
        <a href="">
          <img id="com" src="./img/main_img_files/tld-com-color.png" />
          <span>C$50.99</span>
        </a>
        <a href="">
          <img src="./img/main_img_files/tld-net-color.svg" />
          <span>C$95.99</span>
        </a>
        <a href="">
          <span id="sub">See all domains<b> ></b></span>
        </a>
        <a href="">
          <span id="sub">Transfer domains<b> ></b></span>
        </a>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/img/main_women.png" class="d-block w-100" />
        <div
          class="carousel-caption align-self-auto d-none d-md-block"
          id="mainImgFont1"
        >
          <h1>Choose superior <br /> Web hosting</h1>
          <a href="plan">
            <button id="webHostingBtn">Get Web Hosting</button>
          </a>
          <div id="pharap">
            <p>Starting at only <b>$20.89/mo.</b></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/img/main_women_blue.png" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block" id="mainImgFont2">
          <h1>Find your perfect <br /> .CA domain name</h1>
          <button id="domainNameBtn">Search Domains</button>
          <div id="pharap">
            <p>Starting at only <b>$9.99/year.</b></p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row" id="introduction">
    <div class="col-sm-12 col-md-6 col-lg-3" id="webHostingIcon">
      <img src="./img/webHosting1.png" />
      <h2><b>Web Hosting</b></h2>
      <p>Get fast and unlimited web hosting for your site</p>
      <a href="plan">
        <button id="webHostingIconBtn">Get Hosting</button>
      </a>
      <div id="banner1">SAVE UP TO 67% OFF!</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3" id="cloudServersIcon">
      <img src="./img/cloudServers1.png" />
      <h2><b>Cloud Servers</b></h2>
      <p>Take full control with our fastes virtual servers</p>
      <a href="plan">
        <button id="cloudSeversIconBtn">Compare Clouds</button>
      </a>
      <div id="banner2">SALE: 50% OFF!</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3" id="dedicatedIcon">
      <img src="./img/dedicatedServers1.png" />
      <h2><b>Dedicated Servers</b></h2>
      <p>Get fast and unlimited web hosting for your site</p>
      <a href="plan">
        <button id="dedicatedIconBtn">Get Hosting</button>
      </a>
      <div id="banner1">SAVE UP TO 67% OFF!</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3" id="wordPressIcon">
      <img src="./img/wordPress1.png" />
      <h2><b>WordPress</b></h2>
      <p>Take full control with our fastes virtual servers</p>
      <a href="plan">
        <button id="wordPressIconBtn">Compare Clouds</button>
      </a>
      <div id="banner2">SALE: 50% OFF!</div>
    </div>
  </div>

  <div
    id="carouselExampleDark"
    class="carousel carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner" id="review">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="./img/smallBusiness.png" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <div><h1>Trusted by over 60,000 Canadian Small Businesses</h1></div>
          <h3>ELLA TSANG <span>psimella.com</span></h3>
          <div class="star">
            <img src="./img/star.png" />
          </div>
          <p><i>"The best web hosting plans."</i></p>
          <div class="read">
            <button id="readMore">Read more reviews</button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./img/review2.png" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <div><h1>Trusted by canadians</h1></div>
          <h3>RICHARD E.WARD <span>tydbytes.com</span></h3>
          <div class="star">
            <img src="./img/star.png" />
          </div>
          <p><i>"I recently moved my web hosting to Web Hosting Canada and I
              would happily give them 10 Stars. Apart from providing me with a
              solid technical environment, they have provided me with absolutely
              First Class, friendly, informative and fast support."</i></p>
          <div class="read">
            <button id="readMore">Read more reviews</button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./img/review3.png" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <div><h1>Trusted by over 60,000 Canadian Small Businesses</h1></div>
          <h3>STEVE HUTCHISON <span>terror.ca</span></h3>
          <div class="star">
            <img src="./img/star.png" />
          </div>
          <p><i>"My experience with WHC is excellent. Best for me"</i></p>
          <div class="read">
            <button id="readMore">Read more reviews</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center" id="whyChoose">
    <div class="row">
      <h1>Why Choose Web Hosting Canada for Web Hosting?</h1>
      <div class="col-md-4 col-sd-6">
        <img src="./img/speed1.png" />
        <h2><b>Built for speed</b></h2>
        <p>up to 4x faster than competitors.</p>
      </div>
      <div class="col-md-4 col-sd-6">
        <img src="./img/controlPanel1.png" />
        <h2><b>World's Best Control Panel</b></h2>
        <p>Powered by cPanel with Cloudlinux.</p>
      </div>
      <div class="col-md-4 col-sd-6">
        <img src="./img/installs1.png" />
        <h2><b>1-Click Installs</b></h2>
        <p>Over 300 Apps, including WordPress, Drupal.</p>
      </div>
      <div class="col-md-4 col-sd-6">
        <img src="./img/geolocation1.png" />
        <h2><b>Canadian Geolocation</b></h2>
        <p>Get closer to your clients with servers located on the Canadian East
          & West Coasts.</p>
      </div>
      <div class="col-md-4 col-sd-6">
        <img src="./img/assistance1.png" />
        <h2><b>24/7 Expert Assistance</b></h2>
        <p>To give you the help you need, when you need it.</p>
      </div>
      <div class="col-md-4 col-sd-6">
        <img src="./img/security1.png" />
        <h2><b>Built for speed</b></h2>
        <p>To keep your site safe from hackers & malware.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="advRedContainer">
    <a href="">
      <img id="advRed" src="./img/advRed.png" />
    </a>
  </div>

  <div class="container-fluid" id="WHCblog">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1><b>From the WHC blog</b></h1>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="card">
          <a href="">
            <img
              class="card-img-top"
              src="./img/main_img_files/blog_14251_large.jpg"
            />
          </a>
          <div class="card-body shadow-lg">
            <div class="category">
              <ul class="tag">
                <li>
                  <a href="">SAMLL BUSINESS SUCCESS</a>
                </li>
              </ul>
            </div>
            <h5><b>Effective Remote Work Strategies for Small Business</b></h5>
            <p class="card-text">great for small online businesses.</p>
            <a href="" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="card">
          <a href="">
            <img
              class="card-img-top"
              src="./img/main_img_files/blog_14835_large.jpg"
            />
          </a>
          <div class="card-body shadow-lg">
            <div class="category">
              <ul class="tag" id="tag2">
                <li>
                  <a href="">TIPS & TRICKS</a>
                </li>
                <li>
                  <a href="">WORDPRESS</a>
                </li>
              </ul>
            </div>
            <h5><b>Beginner’s Guide to DNS and Nameservers (2020 Edition)</b></h5>
            <p class="card-text">Work with domain names and make ur own webpages</p>
            <a href="" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center" id="beforeFooter">
    <div class="row">
      <div class="col">
        <h1 id="textFoot">Ready to Get Started? We're available 24/7!</h1>
      </div>
    </div>
    <div class="row" id="footRow">
      <div class="col-4">
        <button id="footBtn"><h5>Call us at <b>1-514-504-2113</b></h5></button>
      </div>
      <div class="col-4">
        <button id="footBtn"><h5>Chat with us</h5></button>
      </div>
      <div class="col-4">
        <button id="footBtn"><h5>Search your Perfect Domain</h5></button>
      </div>
    </div>
  </div>
</main>